<h2>メニューリスト編集</h2>
<p>内容を編集</p>
<pre>
<% if @edit_data.id.present? then %>
    <%= form_for(@edit_data, url:{controller: "menus", action: "update", id:@edit_data.id}) do |f|%>
        <table>
            <tr>
                <th>料理名</th>
                <td><%= f.text_field :menu_name %></td>
            </tr>            
            <tr>
                <th>レシピURL</th>
                <td><%= f.text_field :url %></td>
            </tr>
        </table>
        <tr><th></th>
            <td><%= f.submit "更新", data: {confirm: "メニューを更新しますか？"} %></td><td><%= f.submit "削除", name: "delete", data: {confirm: "本当に削除しますか？"} %></td>
        </tr>
    <% end %>
<% end %>
</pre>
