<h2>メニューリスト編集</h2>
<tr>新規作成
<%= button_to "作成", {controller: "menus", action: "new"} %>
</tr>
<pre>
<table>
    <% if @data.present? %>
        <%= form_for(@data, url:{controller: "menus", action: "update", id:@data.id}) do |f|%>
            <tr>
                <th>料理名</th>
                <td><%= f.text_field :menu_name %></td>
            </tr>            
            <tr>
                <th>レシピリンク</th>
                <td><%= f.text_field :url %></td>
            </tr>
            <tr>
                <th>日付</th>
                <td><%= f.date_field :date %></td>
            </tr>
            <tr>
                <th>チェック</th>
                <td><%= f.check_box :check %></td>
            </tr>
            <tr>
            <%= submit_tag("更新") %><%= button_to "削除", {controller: "menus", action: "delete"} %>
            </tr>
        <% end %>
    <% end %>
</table>
</pre>
