<h2>メニューリスト編集</h2>
<tr>
<td>料理名で検索</td>
<td>
<%= form_tag( controller: "menus", action: "find" ) do %>
    <%= text_field_tag("keyword") %>
    <%= submit_tag("検索") %>
<% end %>
</td>
</tr>
<tr>
<td>全てのメニューを表示</td>
<td>
<%= button_to "全メニュー表示", {controller: "menus", action: "search"} %>
</td>
</tr>
<tr>新規作成
<%= button_to "作成", {controller: "menus", action: "new"} %>
</tr>
<pre>
<table>
    <% if @data.present? %>
        <% @data.each do |obj| %>
        <tr>
            <td><%= obj.id %></td>
            <td><%= obj.menu_name %></td>
            <td><%= obj.url %></td>
            <td><%= obj.date %></td>
            <td><%= check_box_tag :test1,obj.check,{:checked => obj.check} %></td>
        </tr>
        <% end %>
    <% end %>
</table>
</pre>
