<div align="center">
<h2>メニューリストから検索</h2>
<p>料理名または食材名で検索</p>
<%= form_tag( controller: "menus", action: "search" ) do %>
    <%= text_field_tag("keyword") %>
    <%= submit_tag("検索") %>
<% end %>
<p>全メニューリストから検索</p>
<%= button_to "全メニュー表示", {controller: "menus", action: "search"} %>
<pre>
<table border="1">
    <% if @data.present? %>
    <p>※編集ボタンをクリックすると編集画面へジャンプします</p>
        <tr>
            <th>メニュー名</th>
            <th>レシピリンク</th>
            <th>最後に作った日</th>
            <th>編集</th>
        </tr>
        <% @data.each do |obj| %>
        <tr>
            <td><%= obj.menu_name %></td>
            <td><%= link_to "#{obj.url}","#{obj.url}" %></td>
            <td><%= obj.cook_date %></td>
            <td><%= button_to "編集", {controller: "menus", action: "edit_menu", :id => obj.id} %></td>
        </tr>
        <% end %>
    <% end %>
</table>
</pre>
</div>