<% if @kondatelist_data.present? %>
<div align="center">
    <table border="1">
        <tr>
            <th>期間</th>
            <th>料理名</th>
            <th>レシピURL</th>
            <th></th>
        </tr>
    <% @kondatelist_data.each do |k| %>
        <tr>
            <td><%= k.kondate_date %></td>
            <td><%= k.kondate_name %></td>
            <td><%= link_to "#{k.kondate_url}","#{k.kondate_url}" %></td>
            <td><%= button_to "削除", data: { confirm: "献立表から削除してよろしいですか？" } %></td>
        </tr>
    <% end %>
    </table>
    <tr><th></th>
        <td><%= button_to "献立表削除", {controller: "kondatelists", action: "deleteKondate"}, data: {confirm: "削除しますか？"}, method: :delete %></td>
        <td><%= button_to "買い物リスト作成", {controller: "kondatelists", action: "showKondate"}%><%#= f.submit "買い物リスト作成" %></td>

<h2>メニューリストから検索</h2>
<p>料理名または食材名で検索してください</p>
    <%= form_tag( controller: "kondatelists", action: "updateKondate" ) do %>
        <%= text_field_tag("keyword") %>
        <%= submit_tag("検索") %>
    <% end %>
<p>登録されている全てのメニューを表示します</p>
<%= button_to "全メニュー表示", { controller: "kondatelists", action: "updateKondate" }, name: "allmenu" %>
    <% if @menu_data.present? %>
    <table border="1">
        <tr>
            <th>メニュー名</th>
            <th>レシピリンク</th>
            <th>最後に作った日</th>
            <th>作成予定日</th>
            <th>追加</th>
        </tr>
        <% @menu_data.each do |obj| %>
        <tr>
            <%= form_tag( action: "updateKondate" ) do %>
            <td><%= obj.menu_name %></td>
            <td><%= link_to "#{obj.url}","#{obj.url}" %></td>
            <td><%= obj.cook_date %>
            <td><%= select_tag('kondate_date', options_from_collection_for_select(@kondatelist_data, :id, :kondate_date)) %></td>
            <td><%= submit_tag( "追加" ) %></td>
            <%= hidden_field_tag 'id', obj.id %>
            <% end %>
        </tr>
        <% end %>
    </table>
    <% end %>
<% end %>
</div>
